 В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random

In [8]:
import pandas as pd
import random
import numpy as np 

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  robot
4  human

In [11]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       1      0
8       1      0
9       1      0
10      0      1
11      0      1
12      0      1
13      1      0
14      1      0
15      1      0
16      0      1
17      0      1
18      0      1
19      0      1

In [12]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       1      0
1       1      0
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       1      0
8       1      0
9       1      0
10      0      1
11      0      1
12      0      1
13      1      0
14      1      0
15      1      0
16      0      1
17      0      1
18      0      1
19      0      1